@charset "UTF-8";

.current {
    background-color: rgba(225, 222, 10, 0.649);
}

.passed {
    background-color: rgba(225, 10, 10, 0.649);
}


.correct {
    background-color: rgba(74, 225, 10, 0.649);
}
